//@import "bourbon";
//adding fonts
//
//@include  font-face('#{$font-folder}Segoeu','segoeuibold/segoeuibold','600')
//
//@include  font-face('#{$font-folder}Segoeu','SegoeUILight/ofont.ru_Segoe UI Light','300')
//
//@include font-face('#{$font-folder}Segoeu','SegoeUIregular/Segoe UIregular','400')
//
//@include font-face('#{$font-folder}Segoeu','SegoeUISemibold/ofont.ru_Segoe UI Semibold','500')
//
//@include font-face('icomoon','#{$font-folder}icomoon/icomoon')

//
@font-face {
  font-family: 'Roboto-Black';
  src: url('../fonts/fonts/Roboto-Black');
  src: local('☺'), url('../fonts/fonts/Roboto-Black') format('woff'),
  url('../fonts/fonts/Roboto-Black') format('truetype'),
  url('../fonts/fonts/Roboto-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}

//
@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/fonts/Roboto-Bold');
  src: local('☺'), url('../fonts/fonts/Roboto-Bold') format('woff'),
  url('../fonts/fonts/Roboto-Bold') format('truetype'),
  url('../fonts/fonts/Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
@font-face {
  font-family: 'Roboto-Light';
  src: url('../fonts/fonts/Roboto-Light');
  src: local('☺'), url('../fonts/fonts/Roboto-Light') format('woff'),
  url('../fonts/fonts/Roboto-Light') format('truetype'),
  url('../fonts/fonts/Roboto-Light') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/fonts/Roboto-Medium');
  src: local('☺'), url('../fonts/fonts/Roboto-Medium') format('woff'),
  url('../fonts/fonts/Roboto-Medium') format('truetype'),
  url('../fonts/fonts/Roboto-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
//
//
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/fonts/Roboto-Regular');
  src: local('☺'), url('../fonts/fonts/Roboto-Regular') format('woff'),
  url('../fonts/fonts/Roboto-Regular') format('truetype'),
  url('../fonts/fonts/Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
////@font-face {
//  font-family: 'icomoon';
//  src:  url('../fonts/icons/icomoon');
//  src:  url('../fonts/icons/icomoon') format('embedded-opentype'),
//  url('../fonts/icons/icomoon') format('truetype'),
//  url('../fonts/icons/icomoon') format('woff'),
//   url('../fonts/icons/icomoon?#icomoon') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

//@include add-font("../fonts/icons/iconmoon","icons");

//@include font-face("icons", "../fonts/icons/icons",null,null,$file-formats: eot ttf woff);
//@include font-face("Roboto bold", "../fonts/roboto-bold/roboto-bold_[allfont.ru]",null,null,$file-formats: eot ttf woff);
//@include font-face("Roboto light", "../fonts/roboto-light/roboto-light_[allfont.ru]",null,null,$file-formats: eot ttf woff);
//@include font-face("Roboto medium", "../fonts/roboto-medium/roboto-medium_[allfont.ru]",null,null,$file-formats: eot ttf woff);
//@include font-face("icomoon", "../fonts/icons/icomoon",null,null,$file-formats: eot ttf woff woff2);


